<html style="margin: 0;">
<head>
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Nanum Gothic', '맑은 고딕', 돋움체, 'Malgun Gothic';
            font-size: 12px;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/assets/lib/tinymce-5.6.0/skins/ui/oxide/content.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/lib/tinymce-5.6.0/skins/content/default/content.min.css">
</head>
<body style="margin: 0; width: 100%;" class="mce-content-body p-2">
    <div style="text-align: center; text-align: -webkit-center; font-family: 'Nanum Gothic', '맑은 고딕', 돋움체, 'Malgun Gothic'; font-size: 10pt; line-height: normal; margin-top: 0px; margin-bottom: 0px;">
        <div style="line-height: normal; margin-top: 0px; margin-bottom: 0px;">
            <img src="https://{{DOMAIN}}.qcnservice.co.kr/12/{{COMPANY_NO}}/{{COMPANY_NO}}.png" style="max-width: 200px; position: absolute; top: 1px; left: 1px;" />
            <table style="border: 0px; height: 60px;">
                <tbody>
                    <tr>
                        <td style="background: #fff; padding: 0px !important; border: 0px; border-image: none; height: 60px; color: #000; font-size: 36px; font-weight: bold; vertical-align: middle;"> 보&nbsp;고&nbsp;서 </td>
                    </tr>
                </tbody>
            </table>
            <table style="width: 100%; font-family: 'Nanum Gothic', '맑은 고딕', 돋움체, 'Malgun Gothic'; margin-top: 10px; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td style="background: #f6f6f6; padding: 5px; border: 1px solid #000; border-left: 0; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"> 제&nbsp;&nbsp;&nbsp;목 </td>
                        <td style="background: #fff; padding: 5px; border: 1px solid #000; border-right: 0; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;"><div style="width: 650px; overflow: hidden;">{{DOCUMENT_TITLE}}<div></td>
                    </tr>
                    <tr>
                        <td style="background: #f6f6f6; padding: 5px; border: 1px solid #000; border-left: 0; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"> 작&nbsp;&nbsp;성&nbsp;&nbsp;일 </td>
                        <td style="background: #fff; padding: 5px; border: 1px solid #000; border-right: 0; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;"><div style="width: 650px; overflow: hidden;">{{REGIST_DAY}}<div></td>
                    </tr>
                    <tr>
                        <td style="background: #f6f6f6; padding: 5px; border: 1px solid #000; border-left: 0; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"> 시&nbsp;&nbsp;행&nbsp;&nbsp;일 </td>
                        <td style="background: #fff; padding: 5px; border: 1px solid #000; border-right: 0; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;"><div style="width: 650px; overflow: hidden;">{{WORK_DAY}}<div></td>
                    </tr>
                    <tr>
                        <td style="background: #f6f6f6; padding: 5px; border: 1px solid #000; border-left: 0; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;"> 보&nbsp;&nbsp;고&nbsp;&nbsp;자 </td>
                        <td style="background: #fff; padding: 5px; border: 1px solid #000; border-right: 0; height: 18px; text-align: left; color: rgb(0, 0, 0); font-size: 12px; font-weight: normal; vertical-align: middle;"><div style="width: 650px; overflow: hidden;">{{EMPLOYEE_NAME}}<div></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background: #fff; padding: 5px; border: 0; height: 18px; text-align: center; color: rgb(0, 0, 0); font-size: 12px; font-weight: bold; vertical-align: middle;">
                            <div style="padding-top: 8px;font-size: 18px;font-weight: bold">업&nbsp;&nbsp;무&nbsp;&nbsp;내&nbsp;&nbsp;용</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div style="text-align: left; text-align: -webkit-left; width: 100%; margin: 0; padding: 0;">{{{CONTENTS}}}<div>

            <footer style="width: 100%; text-align: center;">
                <img src="{{COMPANY_CI}}" style="max-width: 200px;" />
            </footer>
        </div>
    </div>
    <script>
        if (document.addEventListener) {
            document.addEventListener("click", function (e) {
                for (var elm = e.target; elm; elm = elm.parentNode) {
                    if (elm.nodeName === "A" && !(e.ctrlKey && !e.altKey)) {
                        e.preventDefault();
                    }
                }
            }, false);
        }
    </script>
</body>
</html>
