<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>연간 업무 계획</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">작 성 자</td>
                <td class="w30%">{{CreatorName}}</td>
                <td class="label text-justify w20%">작 성 일</td>
                <td class="w30%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">{{Period}} 연간 업무 계획</td>
                <td class="w85%">{{NextWorkSchedule}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="5">
                    <h3>연간 업무 계획</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 10%;">구분</td>
                <td class="label text-center" style="width: 40%;">업무 내용</td>
                <td class="label text-center" style="width: 25%;">목표</td>
                <td class="label text-center" style="width: 25%;">주요성과</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td>{{DateName}}</td>
                <td>{{ExecutionWorkName}}</td>
                <td>{{Objective}}</td>
                <td>{{KeyResult}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
