<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>주간 보고서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">작 성 자</td>
                <td class="w35%">{{CreatorName}}</td>
                <td class="label text-justify w15%">작 성 일</td>
                <td class="w35%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">주요 업무 계획</td>
                <td class="w80%">{{{NextWorkSchedule}}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">협의 및 지원 사항</td>
                <td class="w80%">{{{DecisionText}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="5">
                    <h3>{{Period}} 계획</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 5%;">No</td>
                <td class="label text-center" style="width: 20%;">일 자</td>
                <td class="label text-center" style="width: 10%;">요일명</td>
                <td class="label text-center" style="width: 40%;">내 용</td>
                <td class="label text-center" style="width: 25%;">비 고</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td class="text-center">{{No}}</td>
                <td class="text-center">{{WorkDate}}</td>
                <td class="text-center">{{DateName}}</td>
                <td>{{{DetailContent}}}</td>
                <td>{{{Note}}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
