<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>실적보고서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">기 간</td>
                <td colspan="3">{{Period}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">작 성 자</td>
                <td class="w30%">{{CreatorName}}</td>
                <td class="label text-justify w20%">작 성 일</td>
                <td class="w30%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="6">
                    <h3>기간 실적 내역</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 30%;">실행업무</td>
                <td class="label text-center" style="width: 25%;">주요성과</td>
                <td class="label text-center" style="width: 10%;">목표</td>
                <td class="label text-center" style="width: 10%;">실적</td>
                <td class="label text-center" style="width: 10%;">달성율</td>
                <td class="label text-center" style="width: 15%;">비고</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td>{{ExecutionWorkName}}</td>
                <td>{{KeyResult}}</td>
                <td>{{Work1}}</td>
                <td>{{Result1}}</td>
                <td>{{PeriodName1}}</td>
                <td>{{{Note}}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="6">
                    <h3>누적 실적 내역</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 30%;">실행업무</td>
                <td class="label text-center" style="width: 25%;">주요성과</td>
                <td class="label text-center" style="width: 10%;">목표</td>
                <td class="label text-center" style="width: 10%;">실적</td>
                <td class="label text-center" style="width: 10%;">달성율</td>
                <td class="label text-center" style="width: 15%;">비고</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems2}}
            <tr>
                <td>{{ExecutionWorkName}}</td>
                <td>{{KeyResult}}</td>
                <td>{{Work1}}</td>
                <td>{{Result1}}</td>
                <td>{{PeriodName1}}</td>
                <td>{{{Note}}}</td>
            </tr>
            {{/DetailItems2}}
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">비고 / 기타사항</td>
                <td colspan="3">{{{Note}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
