<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>구매품의서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">기 간</td>
                <td colspan="3">{{Period}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">구 매 처</td>
                <td class="w30%">{{Customer}}</td>
                <td class="label text-justify w20%">사 용 부 서</td>
                <td class="w30%">{{DepartmentName}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">사 용 용 도</td>
                <td colspan="3">{{Purpose}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">납 품 기 간</td>
                <td class="w30%">{{DueDate}}</td>
                <td class="label text-justify w20%">완 납 일 자</td>
                <td class="w30%">{{ReturnDate}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">작 성 자</td>
                <td class="w30%">{{CreatorName}}</td>
                <td class="label text-justify w20%">작 성 일</td>
                <td class="w30%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="9">
                    <h3>세부 내역</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 20%;">품목</td>
                <td class="label text-center" style="width: 15%;">규격</td>
                <td class="label text-center" style="width: 10%;">수량</td>
                <td class="label text-center" style="width: 10%;">단가</td>
                <td class="label text-center" style="width: 15%;">금액</td>
                <td class="label text-center" style="width: 12%;">세액</td>
                <td class="label text-center" style="width: 13%;">지불방법</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td>{{ProductName}}</td>
                <td>{{Standard}}</td>
                <td>{{Quantity}}</td>
                <td>{{UnitPrice}}</td>
                <td>{{Amount}}</td>
                <td>{{Surtax}}</td>
                <td>{{CategoryName}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">비고 / 기타사항</td>
                <td colspan="3">{{{Note}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
