<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>납품확인서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">거 래 처 명</td>
                <td colspan="3">{{Customer}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">등 록 번 호</td>
                <td class="w35%">{{PublishID}}</td>
                <td class="label text-justify w15%">대 표 자 명</td>
                <td class="w35%">{{PublishOwnerName}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">회 사 명</td>
                <td class="w35%">{{PublishName}}</td>
                <td class="label text-justify w15%">전 화 번 호</td>
                <td class="w35%">{{PublishPhoneNo}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">회 사 주 소</td>
                <td colspan="3">{{PublishAddress}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">회 사 명</td>
                <td class="w35%">{{PublishName}}</td>
                <td class="label text-justify w15%">전 화 번 호</td>
                <td class="w35%">{{PublishPhoneNo}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">업 태</td>
                <td class="w35%">{{PublishBusiness}}</td>
                <td class="label text-justify w15%">종 목</td>
                <td class="w35%">{{PublishSector}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">작 성 자</td>
                <td class="w35%">{{CreatorName}}</td>
                <td class="label text-justify w15%">작 성 일</td>
                <td class="w35%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="6">
                    <h3>거래 내용</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 10%;">일자</td>
                <td class="label text-center" style="width: 45%;">품목</td>
                <td class="label text-center" style="width: 10%;">수량</td>
                <td class="label text-center" style="width: 10%;">단가</td>
                <td class="label text-center" style="width: 15%;">금액</td>
                <td class="label text-center" style="width: 10%;">세액</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td class="text-center">{{WorkDate}}</td>
                <td>{{ProductName}}</td>
                <td>{{Quantity}}</td>
                <td>{{UnitPrice}}</td>
                <td>{{Amount}}</td>
                <td>{{Surtax}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
