<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>매입보고서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">기 간</td>
                <td colspan="3">{{Period}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">작 성 자</td>
                <td class="w30%">{{CreatorName}}</td>
                <td class="label text-justify w20%">작 성 일</td>
                <td class="w30%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="9">
                    <h3>세부 내역</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 15%;">거래일자</td>
                <td class="label text-center" style="width: 20%;">구매처</td>
                <td class="label text-center" style="width: 15%;">사용부서</td>
                <td class="label text-center" style="width: 15%;">품목</td>
                <td class="label text-center" style="width: 10%;">수량</td>
                <td class="label text-center" style="width: 10%;">단가</td>
                <td class="label text-center" style="width: 15%;">금액</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td class="text-center">{{WorkDate}}</td>
                <td>{{CompanyName}}</td>
                <td>{{DepartmentName}}</td>
                <td>{{ProductName}}</td>
                <td>{{Quantity}}</td>
                <td>{{UnitPrice}}</td>
                <td>{{Amount}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
