<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>성과평가표</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">부 서 명</td>
                <td class="w35%">{{DepartmentName}}</td>
                <td class="label text-justify w15%">대 상 자 명</td>
                <td class="w35%">{{SubstituteWorkerName}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">작 성 자</td>
                <td class="w35%">{{CreatorName}}</td>
                <td class="label text-justify w15%">작 성 일</td>
                <td class="w35%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">1차 종합평가</td>
                <td class="w85%">{{ProgressText}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">2차 종합평가</td>
                <td class="w85%">{{Contents}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="6">
                    <h3>업무 수행 성과</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 20%;">구분</td>
                <td class="label text-center" style="width: 20%;">항목</td>
                <td class="label text-center" style="width: 30%;">설명</td>
                <td class="label text-center" style="width: 10%;">배점</td>
                <td class="label text-center" style="width: 10%;">1차</td>
                <td class="label text-center" style="width: 10%;">2차</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td>{{CategoryName}}</td>
                <td>{{Objective}}</td>
                <td>{{KeyResult}}</td>
                <td>{{Work1}}</td>
                <td>{{Result1}}</td>
                <td>{{Result2}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="6">
                    <h3>근무 태도</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 20%;">구분</td>
                <td class="label text-center" style="width: 20%;">항목</td>
                <td class="label text-center" style="width: 30%;">설명</td>
                <td class="label text-center" style="width: 10%;">배점</td>
                <td class="label text-center" style="width: 10%;">1차</td>
                <td class="label text-center" style="width: 10%;">2차</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems2}}
            <tr>
                <td>{{CategoryName}}</td>
                <td>{{Objective}}</td>
                <td>{{KeyResult}}</td>
                <td>{{Work1}}</td>
                <td>{{Result1}}</td>
                <td>{{Result2}}</td>
            </tr>
            {{/DetailItems2}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
