<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>제안서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify">제 목</td>
                <td colspan="5">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w20%">작 성 일</td>
                <td class="w30%">{{CreatedAt}}</td>
                <td class="label text-justify w20%">마 감 일</td>
                <td class="w30%">{{DueDate}}</td>
            </tr>
            <tr>
                <td class="label text-justify">작 성 자</td>
                <td colspan="5">{{CreatorName}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <h3>제 안 배 경</h3>
                </td>
            </tr>
            <tr>
                <td class="vertical-top" style="height: 140px;">{{{Contents}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <h3>현황 및 문제</h3>
                </td>
            </tr>
            <tr>
                <td class="vertical-top" style="height: 140px;">{{{PendingText}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <h3>제 안 내 용</h3>
                </td>
            </tr>
            <tr>
                <td class="vertical-top" style="height: 140px;">{{{ProgressText}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <h3>활용방안 및 기대효과</h3>
                </td>
            </tr>
            <tr>
                <td class="vertical-top" style="height: 140px;">{{{DecisionText}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
