<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>월간 업무 보고</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">작 성 자</td>
                <td class="w35%">{{CreatorName}}</td>
                <td class="label text-justify w15%">작 성 일</td>
                <td class="w35%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">주요업무결과</td>
                <td class="w85%">{{PrevWorkSchedule}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="5">
                    <h3>업무 진행 결과</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 5%;">No</td>
                <td class="label text-center" style="width: 10%;">주차</td>
                <td class="label text-center" style="width: 55%;">업무 내용</td>
                <td class="label text-center" style="width: 15%;">진행율</td>
                <td class="label text-center" style="width: 15%;">마감일자</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td class="text-center">{{No}}</td>
                <td>{{DateName}}</td>
                <td>{{ExecutionWorkName}}</td>
                <td>{{ProgressRate}}</td>
                <td>{{DeadLineDate}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w20%">비고 / 기타사항</td>
                <td class="w80%">{{{Note}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
