<link type="text/css" rel="stylesheet" href="../../assets/report.css">
<div class="report">
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>업무기준서</h1>
                </td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label text-justify w15%">제 목</td>
                <td colspan="3">{{Title}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">직 무 개 요</td>
                <td class="w85% h100px" colspan="3">{{{ProgressText}}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">직 무 명</td>
                <td class="w35%">{{PublishName}}</td>
                <td class="label text-justify w15%">직무사업장</td>
                <td class="w35%">{{PublishAddress}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">직 종</td>
                <td class="w35%">{{PublishBusiness}}</td>
                <td class="label text-justify w15%">직 군</td>
                <td class="w35%">{{PublishSector}}</td>
            </tr>
            <tr>
                <td class="label text-justify w15%">작 성 자</td>
                <td class="w35%">{{CreatorName}}</td>
                <td class="label text-justify w15%">작 성 일</td>
                <td class="w35%">{{CreatedAt}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td class="label">
                    <h3>직 무 내 용</h3>
                </td>
            </tr>
            <tr>
                <td class="vertical-top" style="height: 140px;">{{{Contents}}}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="5">
                    <h3>자격 요건</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 5%;">No</td>
                <td class="label text-center" style="width: 15%;">구분</td>
                <td class="label text-center" style="width: 30%;">요구 능력</td>
                <td class="label text-center" style="width: 6%;">필수</td>
                <td class="label text-center" style="width: 44%;">설명</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems1}}
            <tr>
                <td class="text-center">{{No}}</td>
                <td>{{CategoryName}}</td>
                <td>{{ExecutionWorkName}}</td>
                <td class="text-center">{{Unit}}</td>
                <td>{{{Comment}}}</td>
            </tr>
            {{/DetailItems1}}
        </tbody>
    </table>
    <p></p>
    <table>
        <thead>
            <tr>
                <th class="label" colspan="5">
                    <h3>작업 조건</h3>
                </th>
            </tr>
            <tr>
                <td class="label text-center" style="width: 5%;">No</td>
                <td class="label text-center" style="width: 15%;">구분</td>
                <td class="label text-center" style="width: 30%;">요구 능력</td>
                <td class="label text-center" style="width: 6%;">필수</td>
                <td class="label text-center" style="width: 44%;">설명</td>
            </tr>
        </thead>
        <tbody>
            {{#DetailItems2}}
            <tr>
                <td class="text-center">{{No}}</td>
                <td>{{CategoryName}}</td>
                <td>{{ExecutionWorkName}}</td>
                <td class="text-center">{{Unit}}</td>
                <td>{{{Comment}}}</td>
            </tr>
            {{/DetailItems2}}
        </tbody>
    </table>
    <p></p>
    <footer>
        <img src="{{Logo}}" style="max-width: 48px;" />
    </footer>
</div>
