@charset "utf-8";

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 200;
    src: url("../font/NotoSans-Light.woff2") format('woff2'), url("../font/NotoSans-Light.woff") format('woff');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url("../font/NotoSans-DemiLight.woff2") format('woff2'), url("../font/NotoSans-DemiLight.woff") format('woff');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("../font/NotoSans-Regular.woff2") format('woff2'), url("../font/NotoSans-Regular.woff") format('woff');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("../font/NotoSans-Medium.woff2") format('woff2'), url("../font/NotoSans-Medium.woff") format('woff');
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url("../font/NotoSans-Bold.woff2") format('woff2'), url("../font/NotoSans-Bold.woff") format('woff');
}

@font-face {
    font-family: "tabler-icons";
    font-style: normal;
    font-weight: 400;
    src: url("/lib/tabler-icons-webfont/dist/fonts/tabler-icons.woff2") format("woff2"), url("/lib/tabler-icons-webfont/dist/fonts/tabler-icons.woff") format("woff");
}
