textarea.required {
	border: solid 1px #fd9047;
}

textarea.need {
	background-color: #fdf0fd;
	border: solid 1px #fca081;
}

.syn-textarea {
    color: #000;
    border: 1px solid #eee;
    height: auto;
}

.CodeMirror.cm-s-default {
    border: 1px solid #ccc;
}

.CodeMirror:hover {
    cursor: text;
    border-color: #192B80 !important;
}
