.report {
    padding: 0px;
    margin: auto;
    font-family: NanumSquareR;
    font-size: 12px;
    line-height: normal;
    width: 620px;
}

    .report .text-center {
        text-align: center
    }

    .report .text-right {
        text-align: right
    }

    .report .text-justify {
        text-align-last: justify
    }

    .report .page-break {
        page-break-before: always
    }

    .report a[href]:after {
        content: ""
    }

    .report a[href^="#"]:after,
    .report a[href^="javascript:"]:after {
        content: ""
    }

    .report table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px
    }

        .report table td, .report table th {
            background: #fff;
            padding: 4px;
            border: 1px solid #000;
            color: rgb(0, 0, 0);
            vertical-align: middle;
        }

            .report table td.label, .report table th.label {
                background: #f6f6f6;
                padding: 4px;
                border: 1px solid #000;
                vertical-align: middle;
            }

        .report table th {
            white-space: nowrap;
            font-weight: 400;
            font-size: 16px
        }

        .report table tfoot td {
            background: 0 0;
            border-bottom: none;
            white-space: nowrap;
            text-align: right;
            padding: 10px 20px;
            font-size: 1.2em;
            border-top: 1px solid #aaa
        }

    .report footer {
        width: 100%;
        text-align: center;
        color: #777;
        border-top: 1px solid #aaa;
        padding: 8px 0
    }

    .report .vertical-top {
        vertical-align: top;
    }

    .report .w5\% {
        width: 5%;
    }

    .report .w10\% {
        width: 10%;
    }

    .report .w15\% {
        width: 15%;
    }

    .report .w20\% {
        width: 20%;
    }

    .report .w25\% {
        width: 25%;
    }

    .report .w30\% {
        width: 30%;
    }

    .report .w35\% {
        width: 35%;
    }

    .report .w40\% {
        width: 40%;
    }

    .report .w45\% {
        width: 45%;
    }

    .report .w50\% {
        width: 50%;
    }

    .report .w55\% {
        width: 55%;
    }

    .report .w100\% {
        width: 100%;
    }

    .report .h100px {
        height: 100px;
    }

    .report h1, .report h2, .report h3, .report h4, .report h5, .report h6 {
        text-align: center;
        margin: 0;
    }
