.syn-grid {
    color: #000;
}

.handsontable {
    font-size: 14px;
}

    .handsontable.htRowHeaders.htColumnHeaders {
        margin-left: -1px;
        margin-top: -1px;
    }

    .handsontable .wtBorder {
        background-color: #293f9E !important;
    }

    .handsontable .currentRow {
        background-color: #e9e9e9 !important;
    }

    .handsontable .currentCol {
        background-color: #e9e9e9 !important;
    }

    .handsontable .highLightColumn {
        background-color: #fef8fe !important;
    }

    .handsontable .htDimmed {
        color: #000;
    }

    .handsontable .warning {
        background: #fea !important;
    }

    .handsontable .changedRowWarning {
        background: #F3F7FE !important;
    }

    .handsontable .backgroundWhite {
        background: #FFF !important;
    }

    .handsontable .disabledColumn {
        background: #E9E9E9 !important;
    }

    .handsontable .imgMaxSize {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 150px;
    }

.ht_master tr > td.required {
    background-color: #fff4f4;
}

.handsontable .removeRow {
    background: #ffe6e6 !important;
}

.handsontable .textRed {
    color: #EA7778 !important;
}

.handsontable .textBlue {
    color: #5498ED !important;
}

.handsontable .disable {
    background-color: #E5E5E5 !important;
}

.handsontable .weekend {
    background-color: #f0f0f0;
}

.handsontable .holiday {
    background-color: #f5f5dc !important;
}

.handsontable .summaryRow {
    background: #e9e9e9 !important;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid #ccc;
}

    .handsontable .summaryRow:first-child {
        border-left: 1px solid #ccc;
    }

    .handsontable .summaryRow:last-child {
        border-right: 1px solid #ccc;
    }

.handsontable table.htCore td button.codehelp {
    float: right;
    margin-top: 1px;
    margin-right: -3px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
}

.handsontable table.htCore td button.celltype {
    width: 100%;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-color: #e1e6f4;
    margin-top: -2px;
    border-radius: 3px;
}

.handsontable.contain-filter-header tr:first-child th {
    vertical-align: middle;
}

.handsontable tr:first-child th div.relative input.form-check-input {
    margin-top: -3px;
    margin-right: 2px;
}

.handsontable.contain-filter-header th > div.filterHeader {
    border-top: 1px solid #CCC;
}

.handsontable.contain-filter-header th.firstVisibleColumn .relative {
    height: 22px;
}

    .handsontable.contain-filter-header th.firstVisibleColumn .relative label {
        margin-top: 2px;
    }

.handsontable.contain-filter-header th > div.filterHeader > input {
    width: calc(100% - 8px);
    height: 17px;
    box-shadow: none;
    border: 1px solid #CCC;
    margin-top: 1px;
    margin-bottom: 1px;
}

.handsontable th > div > input[type="checkbox"] {
    position: relative;
    top: 3px;
    margin: 0;
}

.handsontable .htCheckboxRendererInput {
    margin-right: 0;
}

.ht_master.handsontable table.htCore > tbody > tr:hover td {
    background: #ffeded !important;
}

.handsontable input[type=radio].form-check-input {
    width: 18px;
    height: 18px;
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent);
}

.handsontable input[type=checkbox].form-check-input {
    width: 18px;
    height: 18px;
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color-translucent);
}

    .handsontable input[type=checkbox].form-check-input + label:hover, input[type=checkbox].form-check-input + label:focus,
    .handsontable input[type=radio].form-check-input + label:hover, input[type=radio].form-check-input + label:focus {
        border: 0px solid #50417B;
    }

div.summaryRow .ht_master.handsontable table.htCore > tbody > tr:last-child {
    display: none;
}

.handsontable th, .handsontable td {
    vertical-align: middle;
}

.handsontable th:first-child, .handsontable td:first-child {
    height: 32px;
    line-height: 32px;
}

.handsontable .htCheckboxRendererInput {
    margin-top: -2px;
}
