<form autocomplete="off" id="form1" syn-datafield="MainForm">
    <div class="page">
        <div class="page-wrapper">
            <section id="component-header">
                <div class="page-header mt-2 d-print-none">
                    <div class="container-fluid max-width:1600!">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <div syn-i18n="pagePreTitle" class="page-pretitle f:12!">
                                    GNB 메뉴 / LNB 메뉴
                                </div>
                                <h2 syn-i18n="pageTitle" class="page-title">
                                    화면명
                                </h2>
                            </div>
                            <div class="col-auto ms-auto d-print-none">
                                <div class="btn-list">
                                    <section id="component-page-buttons" class="btn-list"></section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="page-body mt-2">
                <div class="container-fluid max-width:1600!">
                    <section id="component-body"></section>
                </div>
            </div>
        </div>
    </div>
</form>
<section id="component-controls"></section>
