<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime maxQueryStringLength="204800" />
    </system.web>

    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <applicationInitialization doAppInitAfterRestart="true" />
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\ack.dll" hostingModel="outofprocess"></aspNetCore>
            <!--<aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false" />-->
        </system.webServer>
    </location>
</configuration>