.ui_textbutton {
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	border: 0 none;
	background-color: transparent;
	-webkit-box-shadow: 0 1px 1px #fff;
	vertical-align: bottom;
	cursor: pointer;
}

	.ui_textbutton.small {
		padding: 0 10px;
		font: normal 11px/20px NanumFont;
		border-width: 1px;
		border-style: solid;
		border-color: #2b5db4;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		background-color: #4379c5;
		color: #ffffff;
		letter-spacing: -1px;
	}

	.ui_textbutton:hover, .button:focus {
		border-color: #4379c5;
		color: #daebfc;
		/*background: -webkit-linear-gradient(top, white, #E0E0E0);
    background: -moz-linear-gradient(top, white, #E0E0E0);
    background: -ms-linear-gradient(top, white, #E0E0E0);
    background: -o-linear-gradient(top, white, #E0E0E0);*/
		box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 0 1px #fff;
	}

	.ui_textbutton:active {
		border: 1px solid #AAA;
		border-bottom-color: #CCC;
		border-top-color: #999;
		-webkit-box-shadow: inset 0 1px 2px #aaa;
		-moz-box-shadow: inset 0 1px 2px #aaa;
		box-shadow: inset 0 1px 2px #aaa;
		/*background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
    background: -moz-linear-gradient(top, #E6E6E6, gainsboro);
    background: -ms-linear-gradient(top, #E6E6E6, gainsboro);
    background: -o-linear-gradient(top, #E6E6E6, gainsboro);*/
	}

	.ui_textbutton.searchButton {
		background-color: #339900;
		padding: 0 10px;
		font: normal 11px/23px NanumFont;
		border-width: 1px;
		border-style: solid;
		border-color: #1e5502;
		border-radius: 3px;
		color: #fff;
		letter-spacing: -1px;
	}

.syn-button {
	color: #000;
}
