<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="visibility: hidden;">
    <form autocomplete="off" id="form1" syn-datafield="MainForm">
        <input type="hidden" id="txtApplicationNo" syn-datafield="ApplicationNo" syn-options="{belongID: ['LF01']}">
        <input type="hidden" id="txtUserWorkID" syn-datafield="UserWorkID" syn-options="{belongID: ['LF01', 'LF02', 'LF03', 'MF01', 'MF02', 'IF01']}">
        <input type="hidden" id="txtApplicationID" syn-datafield="ApplicationID" syn-options="{belongID: ['LF01', 'LF02', 'LF03', 'MF01', 'MF02', 'IF01']}">
        <input type="hidden" id="txtUserNo" syn-datafield="UserNo" syn-options="{belongID: ['LF01']}">
        <input type="hidden" id="txtTableName" syn-datafield="TableName" syn-options="{belongID: ['LF02', 'LF03']}">
        <input type="hidden" id="txtCompressBase64" syn-datafield="CompressBase64" syn-options="{belongID: ['IF01']}">
        <input type="hidden" id="txtRowCount" syn-datafield="RowCount">
        <input type="hidden" id="txtTokenID" syn-datafield="TokenID">
        <input id="fleAsset" syn-events="['change']" type="file" class="form-control hidden" />
        <div class="page">
            <div class="page-wrapper">
                <div class="page-header mt-2 d-print-none">
                    <div class="container-fluid max-width:1600!">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <div class="page-pretitle font:12!">
                                    GNB 메뉴 / LNB 메뉴
                                </div>
                                <h2 class="page-title">
                                    앱 데이터베이스 관리
                                </h2>
                            </div>
                            <div class="col-auto ms-auto d-print-none">
                                <div class="input-group">
                                    <label class="col-form-label pl-2 hidden">관리 대상 서버</label>
                                    <select id="ddlAppTarget" syn-datafield="DeployID" syn-options="{toSynControl: false, belongID: ['LF01', 'LF02', 'LF03', 'MF01', 'MF02', 'IF01']}" class="form-select mx-2 hidden"></select>
                                    <div class="btn-list">
                                        <button type="button" id="btnSQLEditor" syn-events="['click']" class="btn btn-primary">
                                            <i class="font:20 mr:4 ti ti-news"></i>
                                            SQL 에디터 실행
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body mt-2">
                    <div class="container-fluid max-width:1600!">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-4 d-none d-md-block border-end">
                                    <div class="row g-0">
                                        <div class="card-header">
                                            <h3 class="card-title">메타 정보</h3>
                                            <div class="card-actions">
                                                <div class="btn-group">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="form-fieldset p-0">
                                                <syn_grid id="grdTable" syn-datafield="Table" syn-options="{
                                                height: 280
				                                , outsideClickDeselects: false
				                                , columns: [
                                                    ['type', '구분', 60, false, 'text', true, 'left']
                                                    , ['name', '엔티티 ID', 100, false, 'text', true, 'left']
                                                    , ['tbl_name', '테이블 ID', 100, false, 'text', true, 'left']
                                                    , ['sql', '스크립트', 176, false, 'text', false, 'left']
				                                ]
			                                }" syn-events="['afterSelectionEnd']"></syn_grid>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-0">
                                        <div class="card-header border-top">
                                            <h3 class="card-title">테이블 컬럼</h3>
                                        </div>
                                        <div class="card-body p-2">
                                            <div class="form-fieldset p-0">
                                                <syn_grid id="grdTableColumn" syn-datafield="TableColumn" syn-options="{
                                                height: 280
				                                , columns: [
                                                    ['ColumnName', '컬럼 ID', 116, false, 'text', false, 'left']
                                                    , ['DataType', '타입', 100, false, 'text', false, 'left']
                                                    , ['PK', 'PK', 40, false, 'checkbox2', false, 'center']
                                                    , ['UI', 'UI', 40, false, 'checkbox2', false, 'center']
                                                    , ['NN', 'NN', 40, false, 'checkbox2', false, 'center']
                                                    , ['AI', 'AI', 40, false, 'checkbox2', false, 'center']
                                                    , ['Ordinal', '정렬', 60, false, 'numeric', false, 'right']
				                                ]
			                                }" syn-events="['afterSelectionEnd']"></syn_grid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8 d-flex flex-column">
                                    <div class="row g-0">
                                        <div class="card-header">
                                            <h3 id="lblTableData" class="card-title">데이터</h3>
                                            <div class="card-actions">
                                                <div class="input-group w:100! ms-auto">
                                                    <select id="ddlPageIndex" syn-datafield="PageIndex" syn-events="['change']" syn-options="{toSynControl: false, belongID: ['LF03']}" class="form-select mx-2">
                                                        <option value="0">0</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-2">
                                            <div id="grdTableData" class="hot handsontable htColumnHeaders overflow-auto" style="height: calc(100vh - 158px);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tplSqlEditor" class="hidden h:100%">
            <h3 class="mt-0 mb-0">SQL 에디터</h3>
            <div class="card mt:-1" style="height: calc(100% - 37px) !important;">
                <div class="card-body pb-0">
                    <div class="row mb-3">
                        <div class="col">
                            <textarea id="txtSql" syn-options="{toSynControl: false, height: '326px'}" rows="10" class="form-control resize:none" maxlength="64000"></textarea>
                            <small class="form-hint">
                                ※ 데이터베이스 복구가 지원되지 않습니다. 작업 전 데이터베이스 백업 및 작업 후 데이터 확인을 권장합니다
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end p:10!">
                    <button type="button" id="btnExecuteSql" syn-events="['click']" class="btn btn-primary">
                        <i class="font:20 mr:4 ti ti-check"></i>
                        실행
                    </button>
                </div>
            </div>
        </div>
        <syn_data id="srcException" syn-options="{
            dataSourceID: 'Exception',
            storeType: 'Form',
			columns: [
                { data: 'Error', dataType: 'string' },
                { data: 'Level', dataType: 'string' },
                { data: 'Message', dataType: 'string' },
                { data: 'StackTrace', dataType: 'string' },
                { data: 'TypeMember', dataType: 'string' }
			]
		}"></syn_data>
        <syn_data id="srcTableData" syn-options="{
            dataSourceID: 'TableData',
            storeType: 'Grid',
			columns: []
		}"></syn_data>
    </form>
    <script src="/js/syn.loader.js"></script>
</body>
</html>
