<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="visibility: hidden;">
    <form autocomplete="off" id="form1" syn-datafield="MainForm">
        <div class="page">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="container-xl">
                        <div class="row row-cards">
                            <div class="container-xl">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">CSharp 함수 거래 예제</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <label class="form-label">요청 서버시간</label>
                                                <input id="txtServerDate" syn-datafield="ServerDate" syn-options="{belongID: ['GF01']}" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">요청 서버명</label>
                                                <input id="txtServerName" syn-datafield="ServerName" syn-options="{belongID: ['GF01']}" class="form-control">
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">응답 결과</label>
                                                <textarea id="txtFunctionResult" syn-datafield="FunctionResult" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <button type="button" id="btnSearch" syn-events="['click']" class="btn btn-primary">조회</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="/js/syn.loader.js"></script>
</body>
</html>
