<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
</head>
<body style="visibility: hidden;">
    <form autocomplete="off" id="form1" syn-datafield="MainForm">
        <input type="hidden" id="txtUserWorkID" syn-datafield="UserWorkID" syn-options="{belongID: ['GF01']}" value="12345">
        <input type="hidden" id="txtApplicationID" syn-datafield="ApplicationID" syn-options="{belongID: ['GF01']}" value="helloworld">
        <div class="page">
            <div class="page-wrapper">
                <div class="page-header mt-2 d-print-none">
                    <div class="container-fluid max-width:1600!">
                        <div class="row g-2 align-items-center">
                            <div class="col">
                                <div class="page-pretitle font:12!">
                                    시맨틱 커널 / 모듈 / 거래 확인
                                </div>
                                <h2 class="page-title">
                                    프롬프트 테스트
                                </h2>
                            </div>
                            <div class="col-auto ms-auto">
                                <div class="btn-group">
                                    <button id="btnSearchPrompt" syn-events="['click']" class="btn btn-primary">
                                        <i class="f:18 ti ti-search"></i>
                                        실행
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-body mt-2">
                    <div class="container-fluid max-width:1600!">
                        <div class="card mb-4">
                            <div class="card-body p-2">
                                <div class="row mt--2">
                                    <div class="col-6 mt-2 pl-0">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 id="lblFeatureID" class="card-title">프롬프트 거래 기능 목록</h3>
                                            </div>
                                            <div id="divFeatureList" class="list-group list-group-flush overflow-auto h:198">
                                                <div class="list-group-header sticky-top">Generater: GEN</div>
                                                <div class="list-group-item p-2">
                                                    <div class="row">
                                                        <div class="col text-truncate">
                                                            <span class="text-body d-block">LLM.GEN010.GP01 - 제로샷 프롬프트 확인</span>
                                                            <div class="text-secondary text-truncate mt-n1">사전에 특정한 예시나 데이터를 제공받지 않고 새로운 요청을 수행합니다.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-group-item p-2">
                                                    <div class="row">
                                                        <div class="col text-truncate">
                                                            <span class="text-body d-block">LLM.GEN010.GP01 - 제로샷 프롬프트 확인</span>
                                                            <div class="text-secondary text-truncate mt-n1">사전에 특정한 예시나 데이터를 제공받지 않고 새로운 요청을 수행합니다.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-group-item p-2">
                                                    <div class="row">
                                                        <div class="col text-truncate">
                                                            <span class="text-body d-block">LLM.GEN010.GP01 - 제로샷 프롬프트 확인</span>
                                                            <div class="text-secondary text-truncate mt-n1">사전에 특정한 예시나 데이터를 제공받지 않고 새로운 요청을 수행합니다.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-group-item p-2">
                                                    <div class="row">
                                                        <div class="col text-truncate">
                                                            <span class="text-body d-block">LLM.GEN010.GP01 - 제로샷 프롬프트 확인</span>
                                                            <div class="text-secondary text-truncate mt-n1">사전에 특정한 예시나 데이터를 제공받지 않고 새로운 요청을 수행합니다.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-group-item p-2">
                                                    <div class="row">
                                                        <div class="col text-truncate">
                                                            <span class="text-body d-block">LLM.GEN010.GP01 - 제로샷 프롬프트 확인</span>
                                                            <div class="text-secondary text-truncate mt-n1">사전에 특정한 예시나 데이터를 제공받지 않고 새로운 요청을 수행합니다.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 mt-2 pl-0">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">매개변수</h3>
                                                <div class="card-actions">
                                                    <div class="btn-group">
                                                        <button type="button" id="btnAddParameters" syn-events="['click']" class="btn btn-icon bg-muted-lt"><i class="f:18 ti ti-plus"></i></button>
                                                        <button type="button" id="btnRemoveParameters" syn-events="['click']" class="btn btn-icon bg-muted-lt"><i class="f:18 ti ti-minus"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body p-2">
                                                <div class="form-fieldset p-0">
                                                    <syn_grid id="grdParameters" syn-datafield="Parameters" syn-options="{
                                                        autoColumnSize: true
                                                        , height: 181
				                                        , columns: [
					                                        ['VariableID', '변수 ID', 200, false, 'text', false, 'left']
                                                            , ['VariableValue', '변수 데이터', 100, false, 'text', false, 'left']
				                                        ]
				                                        , stretchH: 'last'
			                                        }" syn-events="['afterSelectionEnd']"></syn_grid>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body p-2">
                                <div class="row mb-2">
                                    <div class="col pl-0">
                                        <div class="input-group">
                                            <textarea id="txtUserMessage" syn-datafield="Prompt" syn-options="{belongID: ['GF01'], toSynControl: false}" class="form-control resize:none h:120!" spellcheck="false" placeholder="프롬프트"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col pl-0">
                                        <textarea id="txtPromptResult" syn-datafield="PromptResult" class="form-control resize:none h:320!" spellcheck="false" placeholder="AI 메시지" syn-options="{toSynControl: false}"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <syn_data id="srcException" syn-options="{
            dataSourceID: 'Exception',
            storeType: 'Form',
			columns: [
                { data: 'Error', dataType: 'string' },
                { data: 'Level', dataType: 'string' },
                { data: 'Message', dataType: 'string' },
                { data: 'StackTrace', dataType: 'string' },
                { data: 'TypeMember', dataType: 'string' }
			]
		}"></syn_data>
    </form>
    <script id="tplFeatureItem" type="text/x-mustache">
        {{#items}}
            {{^value}}
            <div class="list-group-header sticky-top">{{title}}</div>
            {{/value}}
            {{#value}}
            <div class="list-group-item p-2" onclick="$this.event.divFeatureItem_click(this, '{{value}}')">
                <div class="row">
                    <div class="col text-truncate">
                        <span class="text-body d-block">{{value}}: {{title}}</span>
                        <div class="text-secondary text-truncate mt-n1">{{description}}</div>
                    </div>
                </div>
            </div>
            {{/value}}
        {{/items}}
    </script>
    <script src="/js/syn.loader.js"></script>
</body>
</html>
