.syn-organization {
    color: #000;
}

.organization-container {
    position: relative;
    border: 1px solid #ccc;
    overflow: auto;
	text-align: center;
}

.orgchart {
    background: #fff !important;
}

    .orgchart .middle-level .title {
        background-color: #006699 !important;
    }

    .orgchart .middle-level .content {
        border-color: #006699 !important;
    }

    .orgchart .top-level .title {
        background-color: #009933 !important;
    }

    .orgchart .top-level .content {
        border-color: #009933 !important;
    }

    .orgchart .second-menu-icon {
        transition: opacity .5s;
        opacity: 0;
        right: -5px;
        top: -5px;
        z-index: 2;
        position: absolute;
    }

        .orgchart .second-menu-icon::before {
            background-color: rgba(68, 157, 68, 0.5);
        }

        .orgchart .second-menu-icon:hover::before {
            background-color: #449d44;
        }

    .orgchart .node:hover .second-menu-icon {
        opacity: 1;
    }

    .orgchart .node .second-menu {
        display: none;
        position: absolute;
        top: 0;
        right: -70px;
        border-radius: 35px;
        box-shadow: 0 0 10px 1px #999;
        background-color: #fff;
        z-index: 1;
    }

        .orgchart .node .second-menu .avatar {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            float: left;
            margin: 5px;
        }
