.syn-datepicker {
	color: #000;
}

.pika-table th {
	color: #999;
}

.pika-week {
	color: #999;
}

.is-today .pika-button {
	color: #33aaff;
}

.is-selected .pika-button {
	color: #fff;
	background: #33aaff;
	box-shadow: inset 0 1px 3px #178fe5;
}

.is-disabled .pika-button {
	color: #999;
	opacity: .3;
}

.pika-button:hover {
	color: #fff !important;
	background: #ff8000 !important;
}
