@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");

@font-face {
    font-family: "tabler-icons";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.25.0/dist/fonts/tabler-icons.woff2") format("woff2"), url("https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.25.0/dist/fonts/tabler-icons.woff") format("woff");
}
