.syn-colorpicker {
	color: #000;
}

.color-pickers {
	display: block;
	border: 1px solid #000;
	border-top-width: 0;
	overflow: hidden;
}

	.color-pickers span {
		display: block;
		float: left;
		width: 10%;
		height: 1.25em;
		cursor: pointer;
	}

.color-picker {
	font-size: 20px;
}

	.color-picker i {
		font-size: 15px;
	}

.color-picker-sv {
	width: 100%;
}

.color-picker-code {
	border-top: 0;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
}
